*{
    margin: 0;
    padding: 0;
    font-family: 'Kantumruy Pro', sans-serif;
    font-family: 'Splash', cursive;
    font-family: 'Trispace', sans-serif;
}

body{
    background-image: url(vaca.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

#blur{
    backdrop-filter: blur(6px);
}

nav{
    width: 100%;
    padding: 1.3rem 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

nav a{
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bolder;


}
nav a:after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s ease;
}
nav a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav p{
    color: grey;
    font-size: 18px;
    font-weight: bolder;
}
.formulario{
    background-color: rgba(255, 255, 255, 0.61);
    margin: 3rem auto;
    width: 40%;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
.formulario form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario form ul li{
    text-decoration: none;
    padding: .7rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formulario form ul li label{
    font-size: 25px;
    font-weight: bolder;
}
.formulario form ul li input{
    margin-left: 30px;
    padding: .4rem .8rem;
}
.formulario form ul li select{
    margin-left: 15px;
    padding: .4rem .8rem;
    font-size: 18px;
}
.enviar{
    font-size: 16px;
    padding: .5rem 2rem;
    background-color: grey;
    color: black;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
.enviar:hover{
    background-color: rgb(156, 156, 156);
}
.buscador{
    background-color: rgba(20, 20, 20, 0.766);
    color: white;
    width: 90%;
    margin: 20px auto;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;

}
.buscador input{
    margin: 10px 20px;
}
.buscador select{
    margin: 0px 20px;
    padding: .2rem .5rem;
}

.tabla{
    background-color: white;
    width: 90%;
    margin: 20px auto;

}
table tr{
    font-size: 20px;
}
table tr td button{
    border: none;
    background-color: white;
}
table tr td .fa-pencil{
    font-size: 28px;
    color: green;
}
table tr td .fa-trash{
    font-size: 28px;
    color: red;
}

#insertar2{
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bolder;
}
#insertar2:hover{
    background-color: rgba(150, 150, 150, 0.885);
    color: black;
    font-weight: bolder;
}

footer{
    padding: .5rem 0;
    width: 100%;
    color: white;
    background-color: black;
    bottom: 0;
    right: 0;
    position: fixed;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
}

